ion-col{
  display: flex;
  justify-content: space-around;
}

.POISON{
  --background:#A040A0;
}

.DRAGON{
  --background:#7038F8;
}

.FIGHTING{
  --background:#C03028;
}

.FIRE{
  --background:#F08030;
}

.GROUND{
  --background:#E0C068;
}

.PSYCHIC{
  --background:#F85888;
}

.GRASS{
  --background:#78C850;
}

.FLYING{
  --background:#A890F0;
}

.WATER{
  --background:#6890F0;
}

.STEEL{
  --background:#B8B8D0;
}

.ROCK{
  --background:#B8A038;
}

.NORMAL{
  --background:#A8A878;
}

.ICE{
  --background:#98D8D8;
}

.GHOST{
  --background:#705898;
}

.FAIRY{
  --background:#EE99AC;
}

.ELECTRIC{
  --background:#F8D030;
}

.DARK{
  --background:#705848;
}

.BUG{
  --background:#A8BB20;
}
